resources/main/schemas/component.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://repastbs/components"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:com="http://repastbs/components">
    
    <xsd:complexType name="AbstractComponentProp">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ActionProp">
        <xsd:sequence>
            <xsd:element name="imports" type="xsd:string"/>
            <xsd:element name="returnType" type="xsd:string"/>
            <xsd:element name="source" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ActionParameterProp">
        <xsd:sequence>
            <xsd:element name="type" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ColorComponentProp">
        <xsd:sequence>
            <xsd:element name="red" type="xsd:integer"/>
            <xsd:element name="green" type="xsd:integer"/>
            <xsd:element name="blue" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ScheduledActionProp">
        <xsd:sequence>
            <xsd:element name="execution" type="xsd:integer"/>
            <xsd:element name="tick" type="xsd:integer"/>
            <xsd:element name="executeLast" type="xsd:boolean"/>
            <xsd:element name="index" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="StringComponentProp">
        <xsd:sequence>
            <xsd:element name="value" type="xsd:string"/>
            <xsd:element name="large" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="VariableProp">
        <xsd:sequence>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element name="defaultValue" type="xsd:string"/>
            <xsd:element name="accessible" type="xsd:boolean"/>
            <xsd:element name="parameter" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    
</xsd:schema>
